<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/estilos/estilos.css">
    <link rel="icon" href="/estilos/img/logo-inicio.png" type="image/x-icon">
</head>
<body class="cuerpo">
<h1 class="titulo">Lista de usuario</h1>
<br><br>
<table class="tabla-usuarios">
    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acciones</th>
    </tr>
    <% users.forEach(user => { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
                <a  class="enlace" href="/edit/<%= user.id%>">Editar</a>
                <a class="enlace" href="/delete/<%= user.id%>">Eliminar</a>
            </td>
        </tr>
    <% }) %>
</table>
<br><br><br><br><br><br>
<h2 class="titulo">Registro de usuario</h2>
<br><br>
<form class="formulario" action="/add" method="post">
    <label class="etiqueta" for="name">Nombre: </label>
    <input class="entrada-texto" type="text" name="name" id="name" maxlength="45" required placeholder="Ingresa nombre">
    <br><br>
    <label class="etiqueta" for="email">Correo: </label>
    <input class="entrada-texto" type="text" name="email" id="email" maxlength="45" required placeholder="Ingresa correo">
    <br><br>
    <button class="boton" type="submit">Registro</button>
</form>
</body>
</html>